.repositoryList {
    position: relative;
    top: 14px;
    max-height: 700px;
    width: 800px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: auto;
}

.boardBody {
    position: absolute;
    z-index: 3;
    top: 50px;
    background-color: #fff;
    width: 860px;
    border-radius: 15px;
    height: 810px;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 20px;
}

/* select bar */

.boardBody {
    display: flex;
    flex-direction: column;
}

.sortBar {
    position: relative;
    top: 17px;
    width: 795px;
    height: 35px;
    display: flex;
    gap: 26px;
}

.selectBox {
    position: relative;
    width: 136px;
    height: 34px;
}

.selectButton {
    display: flex;
    align-items: center;
    height: 100%;
    background: #dfddff;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s;
}

.selectButton:hover {
    background: #bcbaff;
}

.selectText {
    margin-left: 15px;
    color: black;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Noto Sans KR', sans-serif;
}

.arrowIcon {
    margin-left: auto;
    margin-right: 10px;
    width: 32px;
    height: 32px;
}

.dropdown {
    position: absolute;
    top: 40px;
    width: 100%;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 10;
}

.dropdownItem {
    padding: 8px 12px;
    cursor: pointer;
    transition: background 0.2s;
}

.dropdownItem:hover {
    background-color: #efefef;
}

.resetButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    right: 0px;
    width: 185px;
    height: 34px;
    background: rgba(125, 123, 156, 0.39);
    border-radius: 5px;
    cursor: pointer;
    padding: 0 10px 0 15px;
    transition: background 0.2s;
}

.resetButton:hover {
    background: rgba(100, 98, 130, 0.6);
}

.resetText {
    color: black;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Noto Sans KR', sans-serif;
}

.settingIcon {
    width: 24px;
    height: 24px;
}